.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light-dark-toggle {
  border: none;
  background-color: var(--toggle-bg);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}
