.content {
  max-width: 990px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-block: 40px;
  padding: 0 32px;
}

.headline {
  color: var(--color-headline);
  text-align: center;
  max-width: 510px;
}

@media (max-width: 576px) {
  .main-content {
    padding: 0 16px;
  }

  .headline {
    font-size: 40px;
  }
}
